<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Quality Digital Services</title>
  <link rel="stylesheet" href="style.css"/>
  <style>a
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #f2f4ff;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.logo .highlight {
  color: #f57c00;
}
.logo img {
  width: 300px;
  height: 80px;
}

.nav-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #f57c00;
  font-weight: 500;
}

.main-container {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.info-card {
  flex: 2;
  background-color: #e8f1ff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.info-card h2 {
  margin-bottom: 15px;
  color: #c60000;
}

.info-card h3 {
  margin-top: 20px;
  color: #333;
}

.info-card ul, .info-card ol {
  padding-left: 20px;
  margin-top: 10px;
}

.app-logo {
  width: 60px;
  margin-bottom: 10px;
}



.button {
  padding: 12px;
  background-color: #f57c00;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background-color: #e06b00;
}
</style>
</head>
<body>
  <header class="header">

    <div class="logo">

      <img src="image/Hiring_Poster1Artboard_8@4x[1](1).png"></div>

    <nav class="nav-links">

      <a href="/dashboard">Home</a>

      <a href="/aboutneed">About Us</a>

      <a href="/careerneed">Careers</a>

      <a href="/logoutneed">Logout</a>

    </nav>

  </header>

  <main class="main-container">
    <section class="info-card">
      <img src="image/loans/kotak.jpg" alt="Airtel Logo" class="app-logo"/>
      <h2>Kotak Mahendra Bank</h2>
      <h3>Benefits</h3>
      <ul>
        <li> Loan up to ₹25 Lakhs</li>
        <li>  Digital process</li>
        <li>  Tenure up to 5 years</li>
    
      </ul>
      <h3>Who Can Apply?</h3>
      <ul>
        <li>Indian resident, age 21–60</li>
        <li>Stable income with PAN & Aadhaar
</li>
        
      </ul>
      <h3>How It Works?</h3>
      <ol>
        <li>Check eligibility</li>
        <li> Submit application</li>
        <li>Quick approval and disbursal</li>
      </ol>
      <h3>Terms & Conditions</h3>
      <ul>
        <li> Charges apply for late payment</li>
        <li> Credit score-based interest
</li>
      </ul>

    </section>
  </main>
  <a href="/LKB" class="button" style="margin-left: 50%; text-decoration:none">Click Here To Continue</a>
</body>
</html>
