<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Airtel Thanks App - Quality Digital Services</title>
  <link rel="stylesheet" href="style.css"/>
  <style>a
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #f2f4ff;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.logo .highlight {
  color: #f57c00;
}
.logo img {
  width: 300px;
  height: 80px;
}

.nav-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #f57c00;
  font-weight: 500;
}

.main-container {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.info-card {
  flex: 2;
  background-color: #e8f1ff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.info-card h2 {
  margin-bottom: 15px;
  color: #c60000;
}

.info-card h3 {
  margin-top: 20px;
  color: #333;
}

.info-card ul, .info-card ol {
  padding-left: 20px;
  margin-top: 10px;
}

.app-logo {
  width: 60px;
  margin-bottom: 10px;
}

.button {
  padding: 12px;
  background-color: #f57c00;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background-color: #e06b00;
}
</style>
</head>
<body>
   <header class="header">
    <div class="logo">
      <img src="image/Hiring_Poster1Artboard_8@4x[1](1).png"></div>
    <nav class="nav-links">
      <a href="/dashboard">Home</a>
      <a href="/aboutneed">About Us</a>
      <a href="/careerneed">Careers</a>
      <a href="/logoutneed">Logout</a>
    </nav>
  </header>

  <main class="main-container">
    <section class="info-card">
      <img src="image/loans/icic.jpg" alt="Airtel Logo" class="app-logo"/>
      <h2>IDFC First Bank</h2>
      <h3>Benefits</h3>
      <ul>
        <li>Pre-approved offers for existing users</li>
        <li> Paperless proces</li>
        <li> 24-hour disbursal</li>
    
      </ul>
      <h3>Who Can Apply?</h3>
      <ul>
        <li>Salaried/self-employed</li>
        <li>PAN, Aadhaar & income proof required</li>
        
      </ul>
      <h3>How It Works?</h3>
      <ol>
        <li>Login on official app/site</li>
        <li>Apply and verify KYC</li>
        <li>Get instant credit</li>
      </ol>
      <h3>Terms & Conditions</h3>
      <ul>
        <li> Rates based on creditworthiness</li>
        <li>Charges for pre-closure</li>
      </ul>
    </section>
  </main>
    <a href="/LIB" class="button" style="margin-left: 50%; text-decoration:none">Click Here To Continue</a>

</body>
</html>
